<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Disconnected_Environtment.Properties.Settings.ProdiTI1ConnectionString"
            connectionString="Data Source=LAPTOP-NAUFALAS\NAUFALAS;Initial Catalog=ProdiTI1;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>